@{
    ViewData["Title"] = "Liste des tickets";
}

<h1>@ViewData["Title"]</h1>

<p>Bienvenue sur la page de support ! Voici toutes les informations dont vous avez besoin :</p>

<div class="container mt-5">
    <h2 class="mb-4">Liste des tickets de support</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom de l'utilisateur</th>
            <th scope="col">Problème</th>
            <th scope="col">Priorité</th>
            <th scope="col">Statut</th>
            <th scope="col">Date de création</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Matheo Perodeau</td>
            <td>Problème de connexion</td>
            <td>Urgent</td>
            <td><span class="badge bg-warning text-dark">En attente</span></td>
            <td>2025-04-01</td>
        </tr>
        </tbody>
    </table>
    
    <button type="button" class="btn btn-secondary">
        <a style="text-decoration: none; color: inherit;" href="/ticket/new">Créer un ticket</a>
    </button>

    
</div>